mat-toolbar {
    font-size: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .content {
    margin: 2em;
    h1 {
      color: #333;
      font-weight: bold;
    }
  
    p {
      color: #666;
      font-size: 1.2em;
    }
  }

  /* Estilos para el mat-toolbar */
mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para el menú desplegable */
  mat-menu {
    background-color: #fff; /* Fondo del menú */
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  mat-menu-item {
    color: #333; /* Color de texto de los elementos del menú */
  }

  .client-card {
    width: 100%; /* Asegura que el card ocupe todo el ancho disponible */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
  
    /* Estilos para la tabla */
    table {
      width: 100%; /* La tabla ocupa todo el ancho del card */
  
      /* Estilos para las celdas de la tabla */
      th, td {
        white-space: nowrap; /* Evita el ajuste de texto en celdas */
      }
  
      /* Estilos para la cabecera de la tabla */
      th {
        background-color: #f5f5f5; /* Cambia el color de fondo de las cabeceras */
      }
  
      /* Estilos para las filas de la tabla */
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9; /* Cambia el color de fondo de filas pares */
        }
      }
    }
  }