

<div class="banner">
  <img src="https://i.postimg.cc/3RbyLs4F/9479925-1.jpg" alt="Banner de gimnasio" class="banner-image">
</div>

<div class="content">
  <div class="home-content">
    <h1>Bienvenido a la página de inicio</h1>
    <p>Explora nuestro gimnasio y disfruta de una vida activa y saludable.</p>
  </div>

  <div class="card-section">
    <div class="card">
      <img src="https://i.postimg.cc/rwLjTPg9/contenedor1.jpg" alt="Imagen de gimnasio" class="card-image">
      <div class="card-content">
        <h2>Conoce nuestro gimnasio</h2>
        <p>Descubre nuestras instalaciones de primera clase y servicios de entrenamiento personalizado.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://i.postimg.cc/d3PkCzhH/contenedor2.jpg" alt="Imagen de entrenadores" class="card-image">
      <div class="card-content">
        <h2>Nuestros entrenadores</h2>
        <p>Contamos con un equipo de entrenadores altamente calificados para ayudarte a alcanzar tus metas de fitness.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://i.postimg.cc/TwZ7DYjz/contenedor3.png" alt="Imagen de membresías" class="card-image">
      <div class="card-content">
        <h2>Membresías flexibles</h2>
        <p>Ofrecemos una variedad de opciones de membresía para adaptarse a tu estilo de vida y necesidades.</p>
      </div>
    </div>
  </div>
</div>